<!DOCTYPE html>
<html>
<head>
  <title>Pizza Shop</title>
  <head>
  <link rel="stylesheet" href="/style.css">
  <link rel="icon" href="https://vignette.wikia.nocookie.net/objectland/images/f/f4/Pizza.png/revision/latest?cb=20130814205134">
</head>
</head>
<body>
<iframe width="0" height="0" src="https://www.youtube.com/embed/Ptr0_mV_e3A?autoplay=1&cc_load_policy=1" frameborder="0" allowfullscreen></iframe>
  <nav>
    <ul>
        <li>
        <a href="/pizza-orders/new">New Pizza</a>
        <a href="/pizza-orders">Pizza Orders</a>
        </li>
    </ul>
  </nav>

  <%= yield %>
</body>
</html>